@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --green: #46d369;
  --gray: #999;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #111;
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.lists {
  margin-top: -100px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
